<div class="">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://dlcdnwebimgs.asus.com/gain/56F97A2B-57CE-433C-BC48-D695FD586EB8" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://dlcdnwebimgs.asus.com/gain/B0656AEF-8F9F-48D5-9FC5-AAD534E8EE03" class="d-block w-100"
             alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://dlcdnwebimgs.asus.com/gain/C934A9DD-2D23-4D4A-B260-2B01CC3B2C8D/fwebp"
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://dlcdnwebimgs.asus.com/gain/BF80440C-1A09-45A1-8D9C-1CE0869D095A" class="d-block w-100"
             alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>