
  <div class="">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ASUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/view-laptop/list">laptop Gaming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Tài khoản
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>